.main-content {
  padding: 50px 46px 25px 20px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  color: #222;
}

.description {
  margin-top: 20px;
  width: 100%;
}

.highlight-window {
  height: 550px;
  width: 400px;
  background: #ccc url("../../assets/item-blue.jpg") center top / cover;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  z-index: 10;
  position: relative;
}

.highlight-window.mobile {
  display: none;
}

.highlight-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: url("../../assets/item-black.jpg") center top / cover;
  transition: opacity 0.4s ease;
}

.divider {
  width: 80%;
  height: 1px;
  background: #ddd;
  margin: 20px auto;
}

.purchase-info {
  display: flex;
  justify-content: space-between;
}

.price {
  font-size: 2.5rem; 
}

@media (max-width: 850px) {
  .main-content {
    overflow: auto;
    height: auto;
    padding-right: 25px;
  }

  .highlight-window {
    position: fixed;
    left: 0;
    height: 50%;
    width: 50%;
  }

  .purchase-info {
    flex-flow: column;
  }

  .price {
    margin-bottom: 15px;
  }
}

@media (max-width: 550px) {
  .highlight-window {
    display: none;
  }

  .highlight-window.mobile {
    position: relative;
    display: block;
    height: 500px;
    width: 100%;
    box-shadow: none;
    border: 1px solid #ccc;
    margin-top: 15px;
  }
}
